@{
    ViewData["Title"] = "Users";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="wrapper wrapper-content">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Editor</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>
                <div id="content" class="ibox-content">
                    <fieldset class="form-horizontal">
                        <div class="form-group"><label class="col-sm-2 control-label">Id:</label><div class="col-sm-6"><input id="id" step="1" class="form-control" placeholder="Id" type="number"></div></div><div class="form-group"><label class="col-sm-2 control-label">Email:</label><div class="col-sm-6"><input id="email" class="form-control" placeholder="Email" type="text"></div></div><div class="form-group"><label class="col-sm-2 control-label">User Id:</label><div class="col-sm-6"><input id="userId" class="form-control" placeholder="User Id" type="text"></div></div><div class="form-group"><label class="col-sm-2 control-label">Country:</label><div class="col-sm-6"><input id="country" class="form-control" placeholder="Country" type="text"></div></div><div class="form-group"><label class="col-sm-2 control-label">Balance:</label><div class="col-sm-6"><input id="balance" step="0.01" class="form-control" placeholder="Balance" type="number"></div></div><div class="form-group"><label class="col-sm-2 control-label">Pending balance:</label><div class="col-sm-6"><input id="pendingBalance" step="0.01" class="form-control" placeholder="Pending balance" type="number"></div></div><div class="form-group"><label class="col-sm-2 control-label">Referrals:</label><div class="col-sm-6"><input id="refCount" class="form-control" placeholder="Referrals" type="text"></div></div><div class="form-group"><label class="col-sm-2 control-label">Total earnings:</label><div class="col-sm-6"><input id="totalEarnings" step="0.01" class="form-control" placeholder="Total earnings" type="number"></div></div><div class="form-group"><label class="col-sm-2 control-label">Total referral earnings:</label><div class="col-sm-6"><input id="totalRefEarnings" step="0.01" class="form-control" placeholder="Total referral earnings" type="number"></div></div><div class="form-group"><label class="col-sm-2 control-label">Seller Id:</label><div class="col-sm-6"><input id="sellerId" step="1" class="form-control" placeholder="Seller Id" type="number"></div></div><div class="form-group"><label class="col-sm-2 control-label">Sponsor Id:</label><div class="col-sm-6"><input id="sponsorId" class="form-control" placeholder="Sponsor Id" type="text"></div></div><div class="form-group"><label class="col-sm-2 control-label">Email confirmed:</label><div class="col-sm-6"><input id="emailConfirmed" class="form-control" placeholder="Email confirmed" type="text"></div><span class="help-block">true/false</span></div><div class="form-group"><label class="col-sm-2 control-label">Newsletter:</label><div class="col-sm-6"><input id="newsletter" class="form-control" placeholder="Newsletter" type="text"></div><span class="help-block">true/false</span></div><div class="form-group"><label class="col-sm-2 control-label">IPs:</label><div class="col-sm-6"><input id="iPs" class="form-control" placeholder="IPs" type="text"></div></div><div class="form-group"><label class="col-sm-2 control-label">Last seen:</label><div class="col-sm-6"><input id="lastSeen" class="form-control" placeholder="Last seen" type="text"></div><span class="help-block">mm/dd/yyyy hh:mm</span></div><div class="form-group"><label class="col-sm-2 control-label">Lockout reason:</label><div class="col-sm-6"><select id="lockoutReason" class="form-control"><option value="0">NotBanned</option><option value="1">CpaFraud</option><option value="2">ShopFraud</option><option value="3">IllegalIP</option></select></div></div>
                        <div class="text-right">
                            <button id="clearBtn" onclick="clearForm()" class="btn btn-primary">Clear form</button>
                            <button id="mainBtn" onclick="processData()" class="btn btn-primary">Add new</button>
                        </div>
                    </fieldset>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Data</h5>
                    <div class="ibox-tools">
                        <a onclick="reloadData()" aria-expanded="false">
                            <i class="fa fa-refresh"></i>
                        </a>
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content table-responsive">
                    <div id="datatable_wrapper" class="dataTables_wrapper form-inline dt-bootstrap no-footer"><div class="row"><div class="col-sm-6"><div class="dataTables_length" id="datatable_length"><label>Show <select name="datatable_length" aria-controls="datatable" class="form-control input-sm"><option value="10">10</option><option value="25">25</option><option value="50">50</option><option value="100">100</option></select> entries</label></div></div><div class="col-sm-6"><div id="datatable_filter" class="dataTables_filter"><label>Search:<input class="form-control input-sm" placeholder="" aria-controls="datatable" type="search"></label></div></div></div><div class="row"><div class="col-sm-12"><table id="datatable" class="table table-striped table-bordered table-hover dataTable no-footer" role="grid" aria-describedby="datatable_info" style="width: 1873px;">
                        <thead>
                        <tr role="row"><th class="sorting_asc" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" style="width: 13px;" aria-sort="ascending" aria-label="Id: activate to sort column descending">Id</th><th class="sorting" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" style="width: 165px;" aria-label="Email: activate to sort column ascending">Email</th><th class="sorting_disabled" rowspan="1" colspan="1" style="width: 102px;" aria-label="User Id">User Id</th><th class="sorting" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" style="width: 53px;" aria-label="Country: activate to sort column ascending">Country</th><th class="sorting" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" style="width: 52px;" aria-label="Balance: activate to sort column ascending">Balance</th><th class="sorting" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" style="width: 53px;" aria-label="Pending balance: activate to sort column ascending">Pending balance</th><th class="sorting" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" style="width: 60px;" aria-label="Referrals: activate to sort column ascending">Referrals</th><th class="sorting" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" style="width: 57px;" aria-label="Total earnings: activate to sort column ascending">Total earnings</th><th class="sorting" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" style="width: 57px;" aria-label="Total referral earnings: activate to sort column ascending">Total referral earnings</th><th class="sorting_disabled" rowspan="1" colspan="1" style="width: 37px;" aria-label="Seller Id">Seller Id</th><th class="sorting" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" style="width: 53px;" aria-label="Sponsor Id: activate to sort column ascending">Sponsor Id</th><th class="sorting_disabled" rowspan="1" colspan="1" style="width: 67px;" aria-label="Email confirmed">Email confirmed</th><th class="sorting_disabled" rowspan="1" colspan="1" style="width: 73px;" aria-label="Newsletter">Newsletter</th><th class="sorting_disabled" rowspan="1" colspan="1" style="width: 260px;" aria-label="IPs">IPs</th><th class="sorting_disabled" rowspan="1" colspan="1" style="width: 153px;" aria-label="Last seen">Last seen</th><th class="sorting_disabled" rowspan="1" colspan="1" style="width: 53px;" aria-label="Lockout reason">Lockout reason</th><th class="sorting_disabled" rowspan="1" colspan="1" style="width: 79px;" aria-label="Action">Action</th></tr>
                        </thead>
                        <tbody><tr role="row" class="odd"><td class="sorting_1">155</td><td><a href="#" onclick="readData(155)">vulong0351@gmail.com</a></td><td>009af318-e10a-4467-8e24-d5540147aee9</td><td>US</td><td>0</td><td>0</td><td>0</td><td>0</td><td>0</td><td>0</td><td></td><td>true</td><td>true</td><td>113.170.206.204 - 23.19.41.90 - </td><td>2017-05-20T06:56:23.98</td><td>0</td><td><button data-remove-id="155" class="btn btn-danger js-remove">Remove</button></td></tr><tr role="row" class="even"><td class="sorting_1">134</td><td><a href="#" onclick="readData(134)">royalcrewgaming@gmail.com</a></td><td>0200c896-0713-417a-b010-8487cf70a3e6</td><td>RO</td><td>0</td><td>0</td><td>0</td><td>0</td><td>0</td><td>0</td><td></td><td>true</td><td>true</td><td>2a02:2f0b:8160:11d6:4ddf:6c76:9ef6:1391 - 2a02:2f0b:8050:0c9b:70b6:9560:8ff8:7460 - 2a02:2f0b:8020:0898:b154:16bc:b044:2a95</td><td>2017-05-08T13:43:58.707</td><td>0</td><td><button data-remove-id="134" class="btn btn-danger js-remove">Remove</button></td></tr><tr role="row" class="odd"><td class="sorting_1">201</td><td><a href="#" onclick="readData(201)">kozikeng@gmail.com</a></td><td>0223aabc-2765-45bd-9f09-c3fde50f6a43</td><td>CM</td><td>0</td><td>0</td><td>0</td><td>0</td><td>0</td><td>0</td><td></td><td>true</td><td>true</td><td>129.0.44.230 -  - </td><td>2017-05-06T19:10:22.423</td><td>0</td><td><button data-remove-id="201" class="btn btn-danger js-remove">Remove</button></td></tr><tr role="row" class="even"><td class="sorting_1">305</td><td><a href="#" onclick="readData(305)">naimvelaztiqui@gmail.com</a></td><td>03fc3f91-3899-46bd-b313-97213f9af44e</td><td>AR</td><td>0.01</td><td>0</td><td>0</td><td>0.01</td><td>0</td><td>0</td><td></td><td>true</td><td>true</td><td>2800:0810:04ad:88fe:4175:4dca:376b:c290 - 2800:0810:04ad:0239:a918:ef23:a88d:5588 - 2800:0810:04ad:0239:88c5:097b:eca5:69a8</td><td>2017-05-20T19:52:53.037</td><td>0</td><td><button data-remove-id="305" class="btn btn-danger js-remove">Remove</button></td></tr><tr role="row" class="odd"><td class="sorting_1">211</td><td><a href="#" onclick="readData(211)">kristjankordic2000@gmail.com</a></td><td>03fe1587-998b-4d7f-b1af-be4f7b0fe973</td><td>SI</td><td>0</td><td>0</td><td>0</td><td>0</td><td>0</td><td>0</td><td></td><td>true</td><td>true</td><td>82.149.14.185 -  - </td><td>2017-05-21T11:02:59.7</td><td>0</td><td><button data-remove-id="211" class="btn btn-danger js-remove">Remove</button></td></tr><tr role="row" class="even"><td class="sorting_1">339</td><td><a href="#" onclick="readData(339)">edinelife123429@gmail.com</a></td><td>052470f6-5c8a-44b6-a4ee-f8fba4abc6ec</td><td>FR</td><td>0</td><td>0</td><td>0</td><td>0</td><td>0</td><td>0</td><td></td><td>true</td><td>true</td><td>195.154.165.202 - 2a01:0e35:8b1c:39a0:146b:123d:3370:af9b - </td><td>2017-05-21T16:46:32.797</td><td>0</td><td><button data-remove-id="339" class="btn btn-danger js-remove">Remove</button></td></tr><tr role="row" class="odd"><td class="sorting_1">272</td><td><a href="#" onclick="readData(272)">Bxnqs@hotmail.com</a></td><td>05be0a9c-4668-466b-acf1-ae2fbabb2bce</td><td>US</td><td>0</td><td>0</td><td>0</td><td>0</td><td>0</td><td>0</td><td></td><td>true</td><td>true</td><td>104.131.94.225 -  - </td><td>2017-05-14T11:01:37.327</td><td>0</td><td><button data-remove-id="272" class="btn btn-danger js-remove">Remove</button></td></tr><tr role="row" class="even"><td class="sorting_1">257</td><td><a href="#" onclick="readData(257)">jonasfajardo41@gmail.com</a></td><td>05c89da8-69dd-4874-a308-501a09c899ae</td><td>PH</td><td>0</td><td>0</td><td>0</td><td>0</td><td>0</td><td>0</td><td></td><td>true</td><td>true</td><td>122.53.172.8 -  - </td><td>0001-01-01T00:00:00</td><td>0</td><td><button data-remove-id="257" class="btn btn-danger js-remove">Remove</button></td></tr><tr role="row" class="odd"><td class="sorting_1">138</td><td><a href="#" onclick="readData(138)">valami72@gmail.com</a></td><td>073b51fd-35f4-42d4-a552-68ad87a0ad94</td><td>HU</td><td>0</td><td>0</td><td>0</td><td>0</td><td>0</td><td>0</td><td></td><td>true</td><td>true</td><td>86.101.129.14 -  - </td><td>2017-04-27T11:04:01.737</td><td>0</td><td><button data-remove-id="138" class="btn btn-danger js-remove">Remove</button></td></tr><tr role="row" class="even"><td class="sorting_1">326</td><td><a href="#" onclick="readData(326)">b4tm4n333@gmail.com</a></td><td>092adfc1-9d95-4555-ad80-44ec49835b2c</td><td>AU</td><td>0</td><td>0</td><td>0</td><td>0</td><td>0</td><td>0</td><td></td><td>true</td><td>true</td><td>14.202.25.102 -  - </td><td>2017-05-20T10:32:13.3</td><td>0</td><td><button data-remove-id="326" class="btn btn-danger js-remove">Remove</button></td></tr></tbody>
                    </table><div id="datatable_processing" class="dataTables_processing panel panel-default" style="display: none;">Processing...</div></div></div><div class="row"><div class="col-sm-5"><div class="dataTables_info" style="color:white" id="datatable_info" role="status" aria-live="polite">Showing 1 to 10 of 268 entries</div></div><div class="col-sm-7"><div class="dataTables_paginate paging_simple_numbers" id="datatable_paginate"><ul class="pagination"><li class="paginate_button previous disabled" id="datatable_previous"><a href="#" aria-controls="datatable" data-dt-idx="0" tabindex="0">Previous</a></li><li class="paginate_button active"><a href="#" aria-controls="datatable" data-dt-idx="1" tabindex="0">1</a></li><li class="paginate_button "><a href="#" aria-controls="datatable" data-dt-idx="2" tabindex="0">2</a></li><li class="paginate_button "><a href="#" aria-controls="datatable" data-dt-idx="3" tabindex="0">3</a></li><li class="paginate_button "><a href="#" aria-controls="datatable" data-dt-idx="4" tabindex="0">4</a></li><li class="paginate_button "><a href="#" aria-controls="datatable" data-dt-idx="5" tabindex="0">5</a></li><li class="paginate_button disabled" id="datatable_ellipsis"><a href="#" aria-controls="datatable" data-dt-idx="6" tabindex="0">…</a></li><li class="paginate_button "><a href="#" aria-controls="datatable" data-dt-idx="7" tabindex="0">27</a></li><li class="paginate_button next" id="datatable_next"><a href="#" aria-controls="datatable" data-dt-idx="8" tabindex="0">Next</a></li></ul></div></div></div></div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script type="text/rocketscript">
            var isNew = true;
            var isBusy = false;

            $(function () {
                $("#id").change(function () {
                    if (this.value.length === 0)
                        setIsNew(true);
                    else
                        setIsNew(false);
                });

                $(document).keypress(function (e) {
                    if (e.which === 13 && !isSwalDisplayed() && !isBusy && !isFocusedOnTextArea())
                        processData();
                });
            });

            function isFocusedOnTextArea() {
                return $("textarea, input[type=search]").is(':focus');
            }

            function isSwalDisplayed() {
                return $(".sweet-alert.visible").length > 0;
            }

            function readData(id) {
                $.ajax({
                    url: "/api/users/" + id,
                    contentType: 'application/json; charset=utf-8',
                    success: function (data) {
                        if (isUnauthorized(data)) {
                            toastr.error("Your session has expired. Please log in again.");
                            return;
                        }

                        document.getElementById("id").value = data.id;document.getElementById("email").value = data.email;document.getElementById("userId").value = data.userId;document.getElementById("country").value = data.country;document.getElementById("balance").value = data.balance;document.getElementById("pendingBalance").value = data.pendingBalance;document.getElementById("refCount").value = data.refCount;document.getElementById("totalEarnings").value = data.totalEarnings;document.getElementById("totalRefEarnings").value = data.totalRefEarnings;document.getElementById("sellerId").value = data.sellerId;document.getElementById("sponsorId").value = data.sponsorId;document.getElementById("emailConfirmed").value = data.emailConfirmed;document.getElementById("newsletter").value = data.newsletter;document.getElementById("iPs").value = data.iPs;document.getElementById("lastSeen").value = data.lastSeen;document.getElementById("lockoutReason").value = data.lockoutReason;

                        setIsNew(false);
                    },
                    error: function () {
                        toastr.error("Item with id = " + id + " not found!");
                    }
                });
            }

            function isUnauthorized(data)
            {
                if (data == null)
                    return false;

                return data.message === "Authorization has been denied for this request.";
            }

            function clearForm() {
                $("#content input").each(function () {
                    $(this).val('');
                });

                $("#content textarea").each(function () {
                    $(this).val('');
                });

                setIsNew(true);
            }

            function setIsNew(value) {
                isNew = value;

                if (value)
                    $("#mainBtn").html("Add new");
                else
                    $("#mainBtn").html("Update existing");
            }

            function setIsBusy(value) {
                isBusy = value;

                if (value) {
                    $('#mainBtn').attr("disabled", true);
                    $('#clearBtn').attr("disabled", true);
                } else {
                    $("#mainBtn").removeAttr("disabled");
                    $("#clearBtn").removeAttr("disabled");
                }
            }

            function processData() {
                setIsBusy(true);

                if (isNew)
                    addNew();
                else
                    updateExisting();
            }

            function addNew() {
                $.ajax({
                    url: "/api/users/",
                    method: "POST",
                    data: getJson(),
                    headers: antiForgeryToken,
                    success: function (data) {
                        if (isUnauthorized(data)) {
                            toastr.error("Your session has expired. Please log in again.");
                            setIsBusy(false);
                            return;
                        }

                        toastr.success("New item has been added!");
                        reloadData();
                        clearForm();
                        setIsBusy(false);
                    },
                    error: function (data) {
                        displayErrors(data);
                        setIsBusy(false);
                    }
                });
            }

            function displayErrors(data) {
                if (data == null || data.responseText === "")
                    return;

                var json = JSON.parse(data.responseText);

                if (json.message != null) {
                    var errors;
                    try {
                        errors = JSON.parse(json.message);
                    } catch (e) {
                        toastr.error(json.message);
                        return;
                    }

                    for (var i = errors.length - 1; i >= 0 ; i--)
                        toastr.error(errors[i]);
                }
                else if (json.exceptionMessage != null)
                    toastr.error(json.exceptionMessage);
                else
                    toastr.error("Unknown error occurred while processing the request.");
            }

            function updateExisting() {
                var id = document.getElementById("id").value;

                $.ajax({
                    url: "/api/users/" + id,
                    method: "PUT",
                    data: getJson(),
                    headers: antiForgeryToken,
                    success: function (data) {
                        if (isUnauthorized(data)) {
                            toastr.error("Your session has expired. Please log in again.");
                            setIsBusy(false);
                            return;
                        }

                        toastr.success("Item has been updated!");
                        reloadData();
                        clearForm();
                        setIsBusy(false);
                    },
                    error: function (data) {
                        if (data != null && data.responseText !== "")
                            toastr.error(JSON.parse((data).responseText).exceptionMessage);
                        else
                            toastr.error("Unknown error occurred while processing the request.");

                        setIsBusy(false);
                    }
                });
            }

            function getJson() {
                return {
                    email: document.getElementById("email").value, userId: document.getElementById("userId").value, country: document.getElementById("country").value, balance: document.getElementById("balance").value, pendingBalance: document.getElementById("pendingBalance").value, refCount: document.getElementById("refCount").value, totalEarnings: document.getElementById("totalEarnings").value, totalRefEarnings: document.getElementById("totalRefEarnings").value, sellerId: document.getElementById("sellerId").value, sponsorId: document.getElementById("sponsorId").value, emailConfirmed: document.getElementById("emailConfirmed").value, newsletter: document.getElementById("newsletter").value, iPs: document.getElementById("iPs").value, lastSeen: document.getElementById("lastSeen").value, lockoutReason: document.getElementById("lockoutReason").value, 
                };
            }
        </script>
    <script type="text/rocketscript">
        function reloadData() {
            $('#datatable').DataTable().ajax.reload();
        }
    </script>
}