@model AddOfferViewModel

@{
    ViewData["Title"] = "New Offer";
}

<h2>@ViewData["Title"]</h2>

<form asp-action="Add Offer">
    <div class="form-horizontal">
        <h4>Apartment</h4>
        <hr />
        <div class="hotel-description-div">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    @*<input asp-for="Description" class="form-control" />*@
                    <fieldset class="comment commentv2">
                        <textarea asp-for="Description" cols="80" rows="4" name="tresc" class="expanded placeholder" placeholder="Description"></textarea>
                    </fieldset>
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
            </div>
            @*<div class="form-group">
                    <label asp-for="Addressid" class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                        <select asp-for="Addressid" class ="form-control" asp-items="ViewBag.Addressid"></select>
                    </div>
                </div>*@
            <div class="form-group">
                <label asp-for="Price" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="Price" class="form-control" type="number" step="0.01" min="0.01" />
                    <span asp-validation-for="Price" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Image" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="Image" class="form-control" type="file" accept="image/x-png,image/gif,image/jpeg"  multiple/>
                    <span asp-validation-for="Image" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="GuestCount" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="GuestCount" class="form-control" type="number" min="1" />
                    <span asp-validation-for="GuestCount" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="From" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input type="date" min=@DateTime.Today asp-for="From" class="form-control"/>
                    <span asp-validation-for="From" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="To" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input type="date" min=@DateTime.Today asp-for="To" class="form-control"/>
                    <span asp-validation-for="To" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <section class="contentButton">
                        <div class="Search">
                            <button type="submit" class="button">Register</button>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
</form>


@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}