@model BecomeAHostVM
@{
    ViewData["Title"] = "Become a Host";
}


<h2>@ViewData["Title"]</h2>

<form asp-action="BecomeAHost" asp-controller="Manage" method="post" class="form-horizontal" enctype="multipart/form-data">
    <div class="form-horizontal">
        <h4>Apply</h4>
        <hr />
        <div class="hotel-description-div">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="PersonalId" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="PersonalId" class="form-control" />
                    <span asp-validation-for="PersonalId" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="DocumentId" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="DocumentId" class="form-control" />
                    <span asp-validation-for="DocumentId" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="File" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input type="file" class="file" name="File" data-preview-file-type="any" accept="image/x-png,image/gif,image/jpeg">
                    <span asp-validation-for="File" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <section class="contentButton">
                        <div class="Search">
                            <button type="submit" class="button">Submit</button>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
</form>


@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="~/js/fileinput.js"></script>
}


@section Styles{
    <link rel='stylesheet' type='text/css' href='~/css/fileinput.css' />
}
