@model ApartmentDetailsVM

@{
    var x = Model.RatingStars * 20;
}

<div class="container body-content">
    <h2>Offer description</h2>
    <hr />
    <div id="basiclayout">
        <div id="right" class="rlt-right">
            <h3 style="font-size: 35px; margin-top: 10px; margin-bottom: 25px">@Model.Title</h3>
            <div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
                <ol class="carousel-indicators">
                    @foreach (var details in Model.Images)
                    {
                        @if (Model.Images.First() == details)
                        {
                            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                        }
                        else
                        {
                            <li data-target="#myCarousel" data-slide-to="1" class=""></li>
                        }
                    }
                </ol>
                <div class="carousel-inner" role="listbox">
                    @foreach (var details in Model.Images)
                    {
                        @if (Model.Images.First() == details)
                        {
                            <div class="item active" alt="Microsoft Azure" class="img-responsive">
                                <img src="@details" class="img-responsive">
                            </div>
                        }
                        else
                        {
                            <div class="item">
                                <img src="@details" class="img-responsive">
                            </div>
                        }
                    }
                </div>
                <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
            <div class="hotel-description">
                <p style="text-align:center; color:snow; font-size:20px">RATING</p>
                <div class="star-ratings-css">
                    <div class="star-ratings-css-top" style="width: @x%"><span>★</span><span>★</span><span>★</span><span>★</span><span>★</span></div>
                    <div class="star-ratings-css-bottom"><span>★</span><span>★</span><span>★</span><span>★</span><span>★</span></div>
                </div>
                <div class="hotel-description-div">
                    <p>Description</p>
                    <p>@Model.Description</p>
                </div>
                <form asp-action="Add Offer">
                    <div class="hotel-description-div">
                        <p>COMMENTS</p>
                        <fieldset class="comment">
                            <textarea cols="80" rows="4" name="tresc" class="expanded placeholder" placeholder="Leave a comment"></textarea>
                        </fieldset>
                        <section class="contentButton">
                            <div class="Search">
                                <button type="submit" class="button">Submit</button>
                            </div>
                        </section>
                    </div>
                </form>
            </div>
        </div>
        <div id="left" class="rlt-left">
            <table class="StartTable">
                <thead>
                    <tr>
                        <th colspan="3">Destination</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td colspan="3"><input class="sb-destination" id="destin" /></td>
                    </tr>
                </tbody>
                <thead>
                    <tr>
                        <th>Date of arrival</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><input id="departing" type="date" min=@DateTime.Today></td>
                    </tr>
                </tbody>
                <thead>
                    <tr>
                        <th>Date of departure</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><input id="returning" type="date"></td>
                    </tr>
                </tbody>
                <thead>
                    <tr>
                        <th>Guests</th>
                    </tr>
                    <tr>
                        <td><input type="number" id="count_picker" min="1"></td>
                    </tr>
                </thead>
            </table>
            <br />
            <section class="contentButton">
                <div class="Search">
                    <button id="btnSerch" class="button" onclick="uriaction2()">Search</button>
                </div>
                <div class="Search">
                    <a rel="nofollow" class="button" href="">Clear</a>
                </div>
            </section>
        </div>
    </div>

</div>