@{
    ViewData["Title"] = "Home Page";
}

<div class="main-search" data-ride="carousel">
    <h2>Apartment reservation system</h2>
    <div asp-validation-summary="All" class="text-danger"></div>
    <br />
    <h3>Find the best accommodation deals</h3>
    <table class="StartTable">
        <thead>
            <tr>
                <th colspan="3">Destination</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td colspan="3"><input class="sb-destination" id="destin"/></td>
            </tr>
        </tbody>
        <thead>
            <tr>
                <th>Date of arrival</th>
                <th>Date of departure</th>
                <th>Guests</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><input type="text" id="departing"></td>
                <td><input type="text" id="returning"></td>
                <td><input type="text" id="count_picker"></td>
            </tr>
        </tbody>
    </table>
    <section class="contentButton">
        <div class="Search">
            <button id="btnSerch" class="button" onclick="uriaction()">Search</button>
            <!-- <a rel="nofollow" class="button" id="btnSerch" href="@Url.Action("Search", "Home", new { Destination = "Poznan", Arrival = "2017/10/10", Departure= "2017/11/11", Guests= 5 })">Search</a>-->
        </div>
        <div class="Search">
            <a rel="nofollow" class="button" href="">Clear</a>
        </div>
    </section>
</div>