@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<!--
    <button id="myBtn">Open Modal</button>
<div id="myModal" class="modal">
    <div class="modal-content">
        <span class="close">&times;</span>
        <p>Some text in the Modal..</p>
    </div>
</div>
-->

<div class="container body-content">
    <h2>Apartment reservation system</h2>
    <div id="basiclayout">
        <div id="right" class="rlt-right">
            <div class="hotel-description-div">
                <div class="SeachHeaderPart">
                    <h4>Number of ads: @ViewData["hotelResults"]</h4>
                </div>
                <select class="sortSelect">
                    <option>Sort by price</option>
                    <option>Sort by rating</option>
                    <option>Sort by distance</option>
                </select>
            </div>
        @for (int i = 0; i < 10; i++)
        {
            <div class="Search_offer">
                <div class="left_img">
                    <img class="imag" src="~/images/1.jpg" />
                </div>
                <div class="right_desc">
                    <div class="SearchOffleft" style="border-left:1px solid #000;">
                        <h4 style="font-weight: bold">$$TITLE</h4>
                        <h5>$$$Address</h5>
                    </div>
                    <div class="SearchOffleft" style="border-left:1px solid #000;">
                        <h4 style="font-weight: bold">$$RATING</h4>
                        <div class="ratingx">
                               <input name="stars" id="e5" type="radio"><label for="e5">☆</label>
                                <input name="stars" id="e4" type="radio"><label for="e4">☆</label>
                                <input name="stars" id="e3" type="radio"><label for="e3">☆</label>
                                <input name="stars" id="e2" type="radio"><label for="e2">☆</label>
                                <input name="stars" id="e1" type="radio"><label for="e1">☆</label>
                        </div>
                        <h5>$$średnia liczba</h5>
                    </div>
                    <div class="SearchOffleft" style="border-left:1px solid #000;">
                        <h4 style="font-weight: bold">PRICE:</h4>
                        <h5>$$$$$cena</h5>
                        <section class="contentButton">
                            <div class="Searchv2">
                                <a rel="nofollow" class="buttonv2" href="">Check offer</a>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        }
        </div>
        <div id="left" class="rlt-left">
            <table class="StartTable">
                <thead>
                    <tr>
                        <th colspan="3">Destination</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td colspan="3"><input class="sb-destination" /></td>
                    </tr>
                </tbody>
                <thead>
                    <tr>
                        <th>Date of arrival</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><input type="text" class="sb-destination"></td>
                    </tr>
                </tbody>
                <thead>
                    <tr>
                        <th>Date of departure</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><input type="text" class="sb-destination"></td>
                    </tr>
                </tbody>
                <thead>
                    <tr>
                        <th>Guests</th>
                    </tr>
                    <tr>
                        <td><input type="text" class="sb-destination"></td>
                    </tr>
                </thead>
            </table>
            <br />
            <section class="contentButton">
                <div class="Search">
                    <a rel="nofollow" class="button" href="">Search</a>
                </div>
                <div class="Search">
                    <a rel="nofollow" class="button" href="">Clear</a>
                </div>
            </section>
        </div>
    </div>

</div>



