@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="container body-content">
    <h2>Apartment reservation system</h2>
    <div id="basiclayout">
        <div id="right" class="rlt-right">
            <div class="SearchOffer">
                <table>
                    <thead>
                        <tr>
                            <th colspan="3">
                                <select class="sortSelect">
                                    <option>Sort by price</option>
                                    <option>Sort by rating</option>
                                    <option>Sort by distance</option>
                                </select>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <h5>PURO Poznań Stare Miasto</h5>
                                <img src="~/images/1.jpg" alt="" style="width:304px;height:228px;">
                            </td>
                            <td>
                                Stars: 4
                                <br />
                                <br />
                                70$
                            </td>
                            <td>
                                <section class="contentButton">
                                    <div class="Search">
                                        <a rel="nofollow" class="button" href="">View deal</a>
                                    </div>
                                </section>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <h5>Ilonn</h5>
                                <img src="~/images/2.jpeg" alt="" style="width:304px;height:228px;">
                            </td>
                            <td>
                            Stars: 5 
                                <br/>
                                <br />
                            100$
                            </td>
                            <td>
                                <section class="contentButton">
                                    <div class="Search">
                                        <a rel="nofollow" class="button" href="">View deal</a>
                                    </div>
                                </section>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <h5>Gold</h5>
                                <img src="~/images/3.jpeg" alt="" style="width:304px;height:228px;">
                            </td>
                            <td>
                                Stars: 3.5
                                <br />
                                <br />
                                25$
                            </td>
                            <td>
                                <section class="contentButton">
                                    <div class="Search">
                                        <a rel="nofollow" class="button" href="">View deal</a>
                                    </div>
                                </section>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div id="left" class="rlt-left">
            <table class="StartTable">
                <thead>
                    <tr>
                        <th colspan="3">Destination</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td colspan="3"><input class="sb-destination" /></td>
                    </tr>
                </tbody>
                <thead>
                    <tr>
                        <th>Date of arrival</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><input type="text" class="sb-destination"></td>
                    </tr>
                </tbody>
                <thead>
                    <tr>
                        <th>Date of departure</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><input type="text" class="sb-destination"></td>
                    </tr>
                </tbody>
                <thead>
                    <tr>
                        <th>Guests</th>
                    </tr>
                    <tr>
                        <td><input type="text" class="sb-destination"></td>
                    </tr>
                </thead>
            </table>
            <br />
            <section class="contentButton">
                <div class="Search">
                    <a rel="nofollow" class="button" href="">Search</a>
                </div>
                <div class="Search">
                    <a rel="nofollow" class="button" href="">Clear</a>
                </div>
            </section>
        </div>
    </div>

</div>
